<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Github-Test-Coding-Club.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>20DC12691F99233500F76695</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20DC127D1F99233500F76695</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20DC12881F99233500F76695</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
